// Here you can add other styles
// Here you can add other styles
.error-msg{
    color: red;
    width: 100%;
    text-align: left;
}
.iconSet {
    float: left;
    padding: 2px 5px;
    cursor: pointer;
    position: relative;
}
.react-confirm-alert-body h1 {
    font-size: 24px;
}
.react-datepicker-wrapper {
  
    width: 100%;
}
 .fc-content {
    color: #fff;
    font-weight: 700;
}